@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;  
}

body {
   max-width: 100vw;
   overflow-x: hidden;
   background-image: url(./Cocktail\ Background.jpg);
}
li{
    list-style-type: none;
}
h3{
    padding: 16px 0; 
}
p, li{
    line-height: 1.5;
}
nav {
    height: 80;
    display: flex;
}
h1 {
    color: rgb(253, 236, 54);
    font-size: 64px;
    padding-top: 12vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__desc {
    color: red;
    font-size: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.btn {
    margin: 0 auto;
    margin-top: 80px;
    height: 100%;
    max-height: 800px;
    padding: 0px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease;
}
.retry{
    width: 120px;
    height: 80px;
    background-color: black;
    color: rgb(253, 236, 54);
    margin: 16px auto;
    border: solid 1px rgb(253, 236, 54);
}
.btn:hover{
    transform: scale(1.2);
}
.btn:active{
    transform: scale(0.9);
}

img {
    margin: 0 auto;
    max-height: 25vh;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.cocktail{
    border-radius: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 18px;
    text-align: center;
}
.cocktail__image{
    padding: 16px 0;
    width: 100%;
    max-width: 275px;
    height: 100%;
    max-height: 275px; 
    transition: all 300ms ease;
}
.cocktail__image:hover{
    transform: scale(1.5);
}
.cocktail__name{
    font-size: 40px;
    color: rgb(253, 236, 54);
    padding-bottom: 16px;;
}
.cocktail__method{
    width: 100%;
    max-width: 750px;
}

@media(max-width: 1024px){
    h1{
        font-size: 48px;
    }
    .button__desc{
        font-size: 48px;
    }
    .cocktail__image:hover{
        transform: scale(1.1);
    }
    .cocktail__info{
        margin-left: 16px;
    }
}

@media(max-width: 728px){
    h1{
        font-size: 36px;
    }
    .button__desc{
        font-size: 36px;
    }
    .cocktail__image:hover{
        transform: scale(1.1);
    }
    .cocktail__info{
        margin-left: 16px;
    }
    .cocktail{
        font-size: 12px;
    }
    .cocktail__name{
        font-size: 28px;
    }
    .retry{
        width: 100px;
        height: 60px;
        font-size: 12px;
    }
}

@media(max-width: 450px){
    h1{
        font-size: 28px;
    }
    .button__desc{
        font-size: 24px;
    }
    .cocktail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cocktail__image{
        width: 100%;
        max-width: 225px;
        height: 100%;
        max-height: 225px; 
    }
}